*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Electrolize;
  font-weight: normal;
}

::placeholder {
  color: white;
}

html {
  max-width: max-content;
  max-height: max-content;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
}

body {
  --titleAnim: wheell;
  /* --fontSize: 20px; */
  --titleFontSize: 110%;
  --questFontSize: 120%;
  --parseFontSize: 120%;
  --ansFontSize: 120%;
  --widthRoot: 46.8vh;
  --heightRoot: 90vh;
  --minWidthRoot: 188px;
  --maxWidthRoot: 465px;
  --minHeightRoot: 362px;
  --maxHeightRoot: 895px;
  --colorQuest: white;
  --colorParse: white;
  --colorAns: gray;
  --border: 1px solid white;
  /* font-size: var(--fontSize); */
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  /*position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}

.root {
  display: grid;
  /* width: var(--widthRoot);
  height: var(--heightRoot);
  max-width: var(--maxWidthRoot);
  min-width: var(--minWidthRoot);
  max-height: var(--maxHeightRoot);
  min-height: var(--minHeightRoot); */
  /*position: absolute;*/
  margin: 0;
  padding: 0;
  width: 46.8vh;
  min-width: 188px;
  max-width: 465px;
  min-height: 362px;
  max-height: 895px;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.frame {
  margin: 0;
  padding: 0;
  background-color: black;
  position: relative;
  height: 100%;
  width: 100%;
}

.main-error {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80%;
  margin: 0;
  padding: 0;
  top: 10%;
  left: 5%;
}

.error {
  box-sizing: border-box;
  position: relative;
  max-width: 90%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.span-error {
  position: relative;
  vertical-align: sub;
  padding: 0;
  margin: 0;
  color: wheat;
  font-size: 7vw;
  line-height: 11vw;
}

.main-calc {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* ---------------------------------------------------------- */
.screen {
  display: grid;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35%;
  background-color: black;
}

/* ---------------------------------------------------------- */
.output-title {
  border: none;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
}

.span-title {
  border: none;
  display: inline-flex;
  position: relative;
  top: 10%;
  font-size: var(--titleFontSize);
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
  letter-spacing: normal;
  text-transform: none;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  animation-name: var(--titleAnim);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ---------------------------------------------------------- */
.output-question {
  height: 100%;
  border: none;
  display: inline-block;
  text-align: end;
  position: relative;
  margin: 0;
  padding: 0;
  padding-right: 5%;
  margin-block: 0;
  margin-inline: 0;
}

.span-quest {
  border: none;
  position: relative;
  top: 10%;
  font-size: var(--questFontSize);
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--colorQuest);
}

/* ---------------------------------------------------------- */
.output-parsed {
  height: 100%;
  border: none;
  display: inline-block;
  text-align: end;
  position: relative;
  margin: 0;
  padding: 0;
  padding-right: 5%;
  margin-block: 0;
  margin-inline: 0;
}

.span-pars {
  border: none;
  position: relative;
  top: 10%;
  font-size: var(--parseFontSize);
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--colorParse);
}

/* ---------------------------------------------------------- */
.output-answer {
  height: 100%;
  border: none;
  display: inline-block;
  text-align: end;
  position: relative;
  margin: 0;
  padding: 0;
  padding-right: 5%;
  margin-block: 0;
  margin-inline: 0;
}

.span-ans {
  border: none;
  position: relative;
  top: 10%;
  font-size: var(--ansFontSize);
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--colorAns);
}

/* ---------------------------------------------------------- */

.button-grid {
  position: relative;
  display: grid;
  height: 65%;
  width: 100%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
}

.btnW {
  color: white;
  border: none;
}

.btnO {
  color: orange;
  border: none;
}

.button-num {
  font-size: 111%;
}

.button-d {
  font-size: 120%;
}

.button-bs {
  font-feature-settings: normal;
  border: none;
}

.button-on-off {
  font-feature-settings: normal;
  border: none;
}

.iconOnOff {
  font-weight: normal;
  font-style: normal;
  font-size: 120%;
  line-height: 1;
}

.iconBS {
  font-weight: lighter;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  padding-top: 5%;
}

.button-op {
  font-size: 150%;
}

.button-cent {
  font-size: 90%;
  font-weight: 600;
}

.button-x {
  font-size: 120%;
}

.btnG {
  background-color: black;
}

.btnG:hover {
  background-color: rgb(80, 202, 80);
}

.button-ac {
  font-size: 107%;
  padding-top: 10%;
}

.btnY {
  color: red;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 270%;
  font-weight: bold;
}

.display-off {
  border: none;
  width: 50%;
  height: 25%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ------------------------------------------------------------------------ */

/* latin */
@font-face {
  font-family: "Electrolize";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/electrolize/v14/cIf5Ma1dtE0zSiGSiED7AXEBuI8.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* fallback */
@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v108/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2)
    format("woff2");
}

.material-icons-outlined {
  font-family: "Material Icons Outlined";
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
